---
import App from "../../apps/svelte/sql/page.svelte";
import data from "./sql-data.json.base64.js";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <App client:only data={data} />
  </body>
</html>
